body{
    background-color: black;
}
.container1{
    background: rgb(255, 255, 255);
    width: 1000px;
    height: auto;
    border: 2px solid black;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
.toph{
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.topb{
    color: white;
    font-size: 25px;
}
.head1{
    display: flex;
    margin: auto;
    gap: 10px;
    justify-content: flex-end;
    background: #8D4B55;
}
.head2{
    background: #8D4B55;
    padding-top: 50px;
    padding-right: 130px;
    padding-bottom: 50px;
}
.container2{
    background: #8D4B55;
    padding-bottom: 20px;
}
.body1{
    display: flex;
    flex-direction: row;

}
.item1{
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 45%;
    padding-left: 110px;
    padding-top: 100px;
}
.item2{
    background-color: rgb(255, 255, 255);
    height: auto;
    width:55% ;
}
h2{
    color: #8D4B55;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bolder;
}
.box1{
    box-sizing: border-box;
}
*{
    font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-size: small;
}
.pic1{
    height: 16px;
    width: 16px;
}
.ach{
    padding-left: 20px;
}